@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 97%;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: #333 !important;
    height: 100%;
}

#logoContainer {
    display: flex;
    align-items: center;
    font-size: xx-large;
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#logo {
    width: 150px;
}

#infoButton {
    font-size: x-large;
    cursor: pointer;
    top: 15px;
    right: 15px;
    position: absolute;
    color: #000000B8
}

#clueButton {
    display: none;
    width: 230px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid #474747 1.5px;
    border-radius: 25px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    background: #474747;
    color: white;
    text-align: center;
}

#wordsContainer {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 30px;
}

.keyboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
}

.keyboardRow {
    display: flex;
    justify-content: space-around;
    max-width: 650px;
    width: 100%;
}

.wordGuess {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.letterBox {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    background-color: whitesmoke;
    opacity: 90%;
    border-radius: 10px;
    box-shadow: 3px 3px darkslategrey;
}

.keyboardLetter, #letterKeyRemove, #letterKeyEnter {
    border: solid black 1px;
    background: lightgrey;
    font-weight: bold;
    height: 50px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0.75%;
    border-radius: 5px;
    box-shadow: 2px 2px darkslategrey;
    width: 0px;
}

#keyboardRow2 {
    padding: 0px 15px;
}

#letterKeyEnter {
    width: 50px;
    font-size: 10.5pt;
}

.keyboardLetter:hover, #letterKeyRemove:hover, #letterKeyEnter:hover {
    cursor: pointer;
    background-color: grey;
}

#aboutModalHeader, #aboutModalClose {
    text-align: center;
}

#aboutModalTitle {
    display: inline;
}

.aboutModal {
    max-width: 655px;
}

.centerModey {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#invalidWordModal, #invalidLengthModal, #clueModal {
    width: 325px;
}

.infoText {
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

.modal-footer, .infoText #clueText {
    text-align: center !important;
    margin: 0px;
}

#winModalContainer {
    width: auto;
    max-width: 550px;
}

#winModalHeader {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

#scriptureBook {
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    display: none;
}

#scriptureBook a {
    color: darkblue;
}

#scriptureText {
    margin-bottom: 15px;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

#readMoreLink {
    font-size: small;
    font-style: italic;
    display: none;
}

#bookSelectContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#bookSelect {
    flex-grow: 1;
    margin-left: 5px;
}

#correctBookGuess, #wrongBookGuess {
    display: none;
    font-size: larger;
}

#correctBookGuess {
    color: #69ab63;
}

#wrongBookGuess {
    color: #a94442;
}

.separator {
    display:flex;
    align-items: center;
    margin-bottom: 5px;
}
  
.separator .line {
    height: 1px;
    flex: 1;
    background-color: #000;
}

.separator p {
    padding: 10px 15px 0px 15px;
    font-size: large;
}

.centerText {
    text-align: center;
}

#scoreSection, #questionSection {
    display: none;
}

#scoreTotal {
    text-align: center;
    font-size: x-large;
}

#scoreWorkings {
    text-align: center;
    font-size: small;
}

#scoreDiv {
    margin-bottom: 20px;
}

#questionSection {
    font-size: smaller;
}



#greenText {
    color: #69ab63;
    font-weight: bold;
}

#orangeText {
    color: #c7af47;
    font-weight: bold;
}

#greyText {
    color: #6e7476;
    font-weight: bold;
}

.letterInWord {
    animation: letterAnimation 0.75s ease 0s 1 normal forwards, letterInWordAnimation 1.25s ease 0s 1 normal forwards;
}

.correctLetter {
    animation: letterAnimation 0.75s ease 0s 1 normal forwards, correctLetterAnimation 1.25s ease 0s 1 normal forwards;
}

.wrongLetter {
    animation: letterAnimation 0.75s ease 0s 1 normal forwards, wrongLetterAnimation 1.25s ease 0s 1 normal forwards;
}

@keyframes letterInWordAnimation {
    to {background-color: #c7af47;}
    to {color: white;}
}

@keyframes correctLetterAnimation {
    to {background-color: #69ab63;}
    to {color: white;}
}

@keyframes wrongLetterAnimation {
    to {background-color: #6e7476;}
    to {color: white;}
}

@keyframes letterAnimation {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .keyboardContainer {
        width: 94%;
    }

    .keyboardLetter, #letterKeyEnter, #letterKeyRemove {
        height: 45px;
    }

    #clueButton {
        font-size: 14px;
        width: 160px;
        height: 23px;
    }

}

@media only screen and (max-width: 600px) {
    .keyboardContainer {
        width: 94%;
    }

    .keyboardLetter, #letterKeyEnter, #letterKeyRemove {
        height: 40px;
    }

    .letterBox {
        width: 40px;
        height: 40px;
    }

    #logoContainer {
        height: 50;
    }

    #logo {
        width: 125px;
    }
}

@media only screen and (max-width: 400px) {

    #wordsContainer {
        margin-top: 0px;
    }

    .letterBox {
        width: 37px;
        height: 37px;
        margin: 3px;
        font-size: 20pt;
    }

    #letterKeyEnter {
        width: 25px;
    }

    #logo {
        width: 100px;
    }
}

@media only screen and (min-width: 700px) {
    .aboutModal {
        width: 75% !important;        
    }
}

@media only screen and (min-width: 450px) {
    #bookSelectContainer {
        justify-content: center;
    }

    #submitBookGuess {
        margin-left: 25px;
    }

    #bookSelect {
        margin-right: 25px;
    }
}